@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .custom-scrollbar {
    scrollbar-width: thin; /* For Firefox: Makes the scrollbar thin */
    scrollbar-color: #6b7280 transparent; /* Thumb and track colors */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px; /* Thin scrollbar width */
    height: 6px; /* Thin scrollbar height for horizontal scrolling */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #4b5563, #9ca3af); 
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #374151, #6b7280); 
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: 
  }

  .custom-scrollbar::-webkit-scrollbar-track-piece {
    margin: 4px; 
  }
}
